.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px;
  }
  .innerContainer{
    display: flex;
    align-items: center;
    width: 70%;
    gap: 150px;
    margin-bottom: 50px;
    flex: 1;
  }
  .image{
    object-fit: cover;
  }
  
  .content {
    flex: 1;
  }
  
  .title{
    margin-bottom: 10px;
  }
  
  .desc{
    font-size: 18px;
    color: #999;
  }